$mon: "Montserrat", sans-serif;
$osw: "Oswald", sans-serif;

* {
	box-sizing: border-box;
}
@mixin resilienceBGImage1 {

	background-image: url(../img/ResilienceCar1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
@mixin resilienceBGImage2 {
	background-image: url(../img/ResilienceCar2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
@mixin marq {
	text-align: center;
	font-family: $mon;
	height: 50vh;
	width: auto;
	display: block;
	padding: 50px;
	border-width:5px;
	border-style:solid;
	margin: 25vh;
}
body {
  padding: 50px;
}

.navbar {
	font-family: $mon;
}
.resilienceMarq {
	@include marq;
	@include resilienceBGImage1;
	h1 {
		font-size: 10vw;
	}
}
.carMarq {
	@include marq;
	@include resilienceBGImage2;
	color: orange;
	border-color: black;
	h1 {
		font-size: 90px;
	}
}

.biography {
	font-family: $mon;

	.bioLeftText {
		text-align:left;
		margin-top:50px;
		margin-bottom:50px;
		width: 50vw;
		float:left;
	}
	.bioRightText {
		text-align:right;
		margin-top:100px;
		margin-bottom:100px;
		width:50vw;
		float:right;
	}
}