.navbar {
	font-family: $mon;
	#navHome:hover {
		span {
			display:none;
		}
		&:before {
			content: "Goin' home";
		}
	}
	#navBio:hover {
		span {
			display:none;
		}
		&:before {
			content: "¿Quién es?";
		}
	}
	#navMusic:hover {
		span {
			display:none;
		}
		&:before {
			content: "PARFAVAR";
		}
	}
	#navLyrics:hover {
		span {
			display:none;
		}
		&:before {
			content: "Cantaleee";
		}
	}
	#navContact:hover {
		span {
			display:none;
		}
		&:before {
			content: "Nope";
		}
	}
	#navPretend:hover {
		span {
			display:none;
		}
		&:before {
			content: "Mi blog personal!";
		}
	}
}